<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" closed>
    <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item (click)="redirectTo(item.route)" >{{ item.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
