.example-container {
  height: 100%;
}

.example-icon {
  // padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
}

// @media (max-width: 600px) {
//   mat-sidenav {
//     display: none;
//   }
//   mat-sidenav.opened {
//     display: block;
//   }
// }
